
$color-primary: $red
$color-black: $black
$color-check: $white
$color-border: $grey-5
$border-radius: 4px

.#{$prefix}checkbox
  $checkbox: &
  position: relative
  display: inline-flex
  align-items: flex-start
  &__label
    padding-top: 2px
    cursor: pointer
  &__input
    $input: &
    &-original
      position: absolute
      pointer-events: none
      margin: -1px
      width: 0
      height: 0
      opacity: 0
      &:checked + #{$input}-decore
        background-color: $color-primary
        border-color: $color-primary
        &::before
          opacity: 1
      &:checked ~ #{$checkbox}__label
        color: $color-primary

      &:disabled + #{$input}-decore,
      &:disabled ~ #{$checkbox}__label
        opacity: 0.4
        pointer-events: none

    &-decore
      position: relative
      display: inline-flex
      width: 20px
      height: 20px
      border: 2px solid $color-border
      border-radius: $border-radius
      transition: $transition
      cursor: pointer
      &::before
        content: ''
        position: absolute
        top: 40%
        left: 50%
        width: 10px
        height: 6px
        border-left: 3px solid $color-check
        border-bottom: 3px solid $color-check
        border-radius: $border-radius / 2
        opacity: 0
        transform: translate(-50%, -50%) rotate(-45deg)
        transition: $transition

      & ~ #{$checkbox}__label
        padding-left: 12px
  &_reverse
    flex-direction: row-reverse
    #{$checkbox}__input
      &-decore
        & ~ #{$checkbox}__label
          padding-left: 0
          padding-right: 12px
  &_theme
    &_black
      #{$checkbox}__input
        $input: &
        &-original
          &:checked + #{$checkbox}__input-decore
            background-color: $color-black
            border-color: $color-black
