extends ../../layouts/main-dir

block variables
  - var title = "Хлебные крошки"
  - var pageClass = ''
  - var activePage = 'breadcrumbs'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Хлебные крошки со слешем
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") /
      .tmp__row
        .tmp__title Хлебные крошки с тире
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") –
      .tmp__row
        .tmp__title Хлебные крошки с точкой
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") &#8226;
