extends ../../layouts/main-dir

block variables
  - var title = "Кнопки"
  - var pageClass = ''
  - var activePage = 'buttons'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Кнопки по типу
        .tmp__box
          button.button.button_view_primary.button_size_medium
            span.button__text primary
          button.button.button_view_secondary.button_size_medium
            span.button__text secondary
          button.button.button_view_tertiary.button_size_medium
            span.button__text tertiary
          button.button.button_view_outline.button_size_medium
            span.button__text outline
          button.button.button_view_slider.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

      .tmp__row
        .tmp__title Кнопки c иконкой и круглые
        .tmp__box
          button.button.button_view_primary.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

          button.button.button_view_primary.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

          button.button.button_view_slider.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

      .tmp__row
        .tmp__title Кнопки c округлением
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_rounded
            span.button__text primary

      .tmp__row
        .tmp__title Кнопки c размером
        .tmp__box
          button.button.button_view_primary.button_size_small
            span.button__text primary
          button.button.button_view_primary.button_size_medium
            span.button__text primary
          button.button.button_view_primary.button_size_large
            span.button__text primary

          button.button.button_view_slider.button_size_small.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
          button.button.button_view_slider.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

          button.button.button_view_slider.button_size_large.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")



      .tmp__row
        .tmp__title Кнопки c иконкой до и после текста
        .tmp__box
          button.button.button_view_primary.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
            span.button__text primary

          button.button.button_view_primary.button_size_medium
            span.button__text primary
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

      .tmp__row
        .tmp__title Кнопка c загрузкой
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_loading
            i.icon.button__icon.button__loader
              svg.spinner(viewBox="0 0 50 50")
                circle.path(cx="25" cy="25" r="20" fill="none" stroke-width="5")
            span.button__text primary
          button.button.button_view_outline.button_size_medium.button_loading
            i.icon.button__icon.button__loader
              svg.spinner.spinner_primary(viewBox="0 0 50 50")
                circle.path(cx="25" cy="25" r="20" fill="none" stroke-width="5")
            span.button__text primary


      .tmp__row
        .tmp__title Кнопки на всю ширину
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_width_avalibale
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
            span.button__text primary

