extends ../../layouts/main-dir

block variables
  - var title = "Чекбоксы"
  - var pageClass = ''
  - var activePage = 'checkbox'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы
        .tmp__box
          label.checkbox
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
          label.checkbox.checkbox_theme_black
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
      .tmp__row
        .tmp__title Контролы c label
        .tmp__box
          label.checkbox
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
      .tmp__row
        .tmp__title Контролы c label(обратные)
        .tmp__box
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
