extends ../../layouts/main-dir

block variables
  - var title = "Счетчик"
  - var pageClass = ''
  - var activePage = 'counter'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Элементы счетчика
        .tmp__box
          .counter
            span.counter__input 1
            input.counter__input(type="text" value="1")
            button.counter__button.counter__button_plus(role="plus" type="button") &#43;
            button.counter__button.counter__button_minus(role="minus" type="button") &#8722;
            button.counter__button.counter__button_primary.counter__button_plus(role="plus" type="button") &#43;
            button.counter__button.counter__button_primary.counter__button_minus(role="minus" type="button") &#8722;
            button.counter__button.counter__button_plus(role="plus" type="button" disabled) &#43;
            button.counter__button.counter__button_minus(role="minus" type="button" disabled) &#8722;
            button.counter__button.counter__button_primary.counter__button_plus(role="plus" type="button" disabled) &#43;
            button.counter__button.counter__button_primary.counter__button_minus(role="minus" type="button" disabled) &#8722;
