extends ../../layouts/main-dir

block variables
  - var title = "Формы"
  - var pageClass = ''
  - var activePage = 'form'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Элементы формы
        .tmp__box
          .form-field
            label.form-field__label Имя
            .input.form-field__control
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .form-field.form-field_error
            label.form-field__label Имя
            .input.input_error.form-field__control
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
            .form-field__error Message error


