extends ../../layouts/main-dir

block variables
  - var title = "Иконки"
  - var pageClass = ''
  - var activePage = 'icons'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Иконки по размеру(svg)
        .tmp__box
          i.icon.icon_size_small
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")
          i.icon.icon_size_medium
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")
          i.icon.icon_size_large
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")

      .tmp__row
        .tmp__title Иконки по размеру(img)
        .tmp__box
          i.icon.icon_size_small
            img(src='../assets/images/icons/plane.svg' alt="plane" title="plane")
          i.icon.icon_size_medium
            img(src='../assets/images/icons/plane.svg' alt="plane" title="plane")
          i.icon.icon_size_large
            img(src='../assets/images/icons/plane.svg' alt="plane" title="plane")

      .tmp__row
        .tmp__title Иконки поворот
        .tmp__box
          i.icon.icon_size_medium.icon_rotate_0deg
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")
          i.icon.icon_size_medium.icon_rotate_90deg
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")
          i.icon.icon_size_medium.icon_rotate_180deg
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")
          i.icon.icon_size_medium.icon_rotate_270deg
            svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill="black" d="M11.7283 5.55368L0.741393 0.0528143C0.655281 0.00969082 0.558556 -0.00758782 0.462864 0.00305893C0.367172 0.0137057 0.276594 0.0518239 0.202035 0.112824C0.130832 0.172579 0.0776868 0.251039 0.048573 0.339381C0.0194592 0.427724 0.0155316 0.522447 0.0372318 0.612903L1.36066 5.49868H7.00893V6.49883H1.36066L0.0172557 11.3696C-0.00310686 11.4451 -0.00548379 11.5244 0.010316 11.601C0.0261159 11.6777 0.0596517 11.7495 0.108227 11.8108C0.156802 11.8721 0.219061 11.9211 0.289997 11.9539C0.360934 11.9867 0.438569 12.0024 0.516661 11.9997C0.594839 11.9992 0.671815 11.9804 0.741393 11.9447L11.7283 6.44382C11.8101 6.40186 11.8788 6.3381 11.9267 6.25957C11.9746 6.18104 12 6.09079 12 5.99875C12 5.90672 11.9746 5.81646 11.9267 5.73794C11.8788 5.65941 11.8101 5.59565 11.7283 5.55368Z")

