extends ../../layouts/main-dir

block variables
  - var title = "Инпуты"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Инпуты
        .tmp__box
          .input
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
        .tmp__box
          .input
            textarea.input__input(placeholder='Введите' autocomplete="off")
      .tmp__row
        .tmp__title Инпуты отключен
        .tmp__box
          .input.input_disabled
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
      .tmp__row
        .tmp__title Инпуты с иконками
        .tmp__box
          .input.input_icon-right
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
            span.input__suffix
              i.icon.input__icon.input__icon_clear(tabindex=0)
                img(src='../assets/images/icons/clear.svg')
          .input.input_icon-left
            span.input__prefix
              i.icon.input__icon.input__icon_clear(tabindex=0)
                img(src='../assets/images/icons/clear.svg')
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .input.input_disabled.input_icon-left
            span.input__prefix
              i.icon.input__icon.input__icon_clear
                img(src='../assets/images/icons/clear.svg')
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
      .tmp__row
        .tmp__title Инпуты состояния
        .tmp__box
          .input.input_disabled
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
          .input.input_error
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
      .tmp__row
        .tmp__title Инпуты c группировкой
        .tmp__box
          .input.input_group-prepend
            span.input__prepend 123
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .input.input_group-append
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
            span.input__append 123
          .input.input_group-append.input_icon-right
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
              span.input__suffix
                i.icon.input__icon.input__icon_clear(tabindex=0)
                  img(src='../assets/images/icons/clear.svg')
            span.input__append 123
          .input.input_group-both.input_icon-right
            span.input__prepend 123
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
              span.input__suffix
                i.icon.input__icon.input__icon_clear(tabindex=0)
                  img(src='../assets/images/icons/clear.svg')
            span.input__append 123
      .tmp__row
        .tmp__title Инпуты с номером
        .tmp__box
          .input.input_icon-left
            span.input__prefix
              span +7
            input.input__input(type="text" placeholder='(999)999-99-99' autocomplete="off")

