extends ../../layouts/main-dir

block variables
  - var title = "Счетчик"
  - var pageClass = ''
  - var activePage = 'counter'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Список ненумерованный
        .tmp__box
          ul.list
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
      .tmp__row
        .tmp__title Список нумерованный
        .tmp__box
          ol.list
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
