extends ../../layouts/main-dir

block variables
  - var title = "Радио кнопки"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы
        .tmp__box
          label.radio
            input.radio__input-original(type='radio' name="radio_1")
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_1" disabled)
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_1" checked)
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_3" checked disabled)
            span.radio__input-decore
      .tmp__row
        .tmp__title Контролы c label
        .tmp__box
          label.radio
            input.radio__input-original(type='radio' name="radio_2")
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_2" disabled)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_2" checked)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_4" checked disabled)
            span.radio__input-decore
            span.radio__label Simple radio
      .tmp__row
        .tmp__title Контролы c label(обратные)
        .tmp__box
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5")
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5" disabled)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5" checked)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_6" checked disabled)
            span.radio__input-decore
            span.radio__label Simple radio
