extends ../../layouts/main-dir

block variables
  - var title = "Инпуты"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Селект
        .tmp__box
          .select
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
            main.select__main
              .select__content
                .select__item Option 1
                .select__item.select__item_selected Option 2
                .select__item Option 3
          .select.select_open
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
            main.select__main
              .select__content
                .select__item Option 1
                .select__item.select__item_selected Option 2
                .select__item Option 3
                .select__item.select__item_disabled Option 4
                .select__submain
                  .select__item
                    span Option 5
                    span.select__item-arrow
                      span.icon
                        img(src='../assets/images/icons/arrow-right.svg')
                  .select__content
                    .select__item Option 1
                    .select__item Option 2
                    .select__item.select__item_selected Option 3
                    .select__item Option 4
                .select__item Option 6

          .select.select_disabled
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
