extends ../../layouts/main-dir

block variables
  - var title = "Слайдер"
  - var pageClass = ''
  - var activePage = 'slider'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Слайдеры
        .tmp__box
          .slider.js-slider-default
            .slider__slider.swiper-container
              .slider__wrapper.swiper-wrapper
                .slider__slide.swiper-slide.board
                  span.board__overlay
                  .board__image
                    img(src='../assets/images/banner.jpg')
                  .board__content.board__content_slider
                    .board__title Новая акция
                    .board__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                    .button-group.board__button-group
                      button.button.button_view_primary.button_size_large
                        span.button__text Подробнее
                .slider__slide.swiper-slide.board
                  span.board__overlay
                  .board__image
                    img(src='../assets/images/banner.jpg')
                  .board__content.board__content_slider
                    .board__title Новая акция
                    .board__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                    .button-group.board__button-group
                      button.button.button_view_primary.button_size_large
                        span.button__text Подробнее
            .slider__navs
                button.button.button_view_slider.button_size_medium.button_circle.slider__nav.slider__nav_prev
                  i.icon.button__icon
                    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
                button.button.button_view_slider.button_size_medium.button_circle.slider__nav.slider__nav_next
                  i.icon.icon_rotate_180deg.button__icon
                    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
