extends ../../layouts/main-dir

block variables
  - var title = "Свитчер"
  - var pageClass = ''
  - var activePage = 'switch'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы(checkbox)
        .tmp__box
          label.switch
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
      .tmp__row
        .tmp__title Контролы(radio)
        .tmp__box
          label.switch
            input.switch__input-original(type='radio' name="switch_1")
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_1" disabled)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_1" checked)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_2" checked disabled)
            span.switch__input-decore
      .tmp__row
        .tmp__title Контролы(checkbox) c label
        .tmp__box
          label.switch
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
            span.switch__label Simple switch
      .tmp__row
        .tmp__title Контролы(checkbox) c label (обратные)
        .tmp__box
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
            span.switch__label Simple switch
