extends ../../layouts/main-dir

block variables
  - var title = "Табы"
  - var pageClass = ''
  - var activePage = 'tabs'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Табы стандартные
        .tmp__box
          .tabs(data-tabs='1')
            header.tabs__header
              .tabs__nav(role="tablist")
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="0") Таб 1
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="1") Таб 2
            main.tabs__content
              section.tabs__pane(data-tabs-pane="0") Контент 1
              section.tabs__pane(data-tabs-pane="1") Контент 2
      .tmp__row
        .tmp__title Табы кнопки
        .tmp__box
          .tabs(data-tabs='2' data-tabs-current="1")
            header.tabs__header
              .tabs__nav(role="tablist")
                button.tabs__tab.tabs__tab_button.tabs__tab_active(role="tab" type="button" data-tabs-tab="0") Таб 1
                button.tabs__tab.tabs__tab_button(role="tab" type="button" data-tabs-tab="1") Таб 2
            main.tabs__content
              section.tabs__pane(data-tabs-pane="0") Контент 1
              section.tabs__pane(data-tabs-pane="1") Контент 2
