
$color-border: $grey-6
$color-bg: rgba(0, 45, 55, 0.05)
$color-bg-content: $white
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)

.#{$prefix}select
  $select: &
  position: relative
  display: inline-flex
  z-index: 1

  &_open
    #{$select}__main
      visibility: visible
      opacity: 1
    #{$select}__arrow
      transform: rotate(-180deg)
  &_disabled
    opacity: 0.4
    pointer-events: none


  &__header
    cursor: pointer
    .input
      width: 100%

  &__input
    cursor: pointer

  &__main
    padding-top: 8px
    position: absolute
    top: 100%
    left: 0
    width: 100%
    visibility: hidden
    opacity: 0

  &__content
    border: 1px solid $color-border
    background-color: $color-bg-content
    box-shadow: $box-shadow
    overflow-y: auto
    -webkit-overflow-scrolling: touch

  &__item
    position: relative
    padding: 12px 50px 12px 16px
    transition: $transition
    cursor: pointer
    &_selected
      background-color: $color-bg
      pointer-events: none
    &_disabled
      opacity: 0.4
      pointer-events: none
    &:hover,
    &:focus
      background-color: $color-bg
    &-arrow
      position: absolute
      top: 0
      right: 0
      display: inline-flex
      align-items: center
      justify-content: center
      height: 100%
      margin: 0
      width: 44px
      .icon
        width: 12px
        height: 12px

  &__submain
    #{$select}__content
      position: absolute
      top: 8px
      left: 100%
      width: 100%
      height: calc(100% - 8px)
