
$color-bg: rgba($black, 0.05)
$color-bg-active: rgba($black, 0.1)
$color-bg-primary: rgba($red, 0.05)
$color-bg-primary-active: rgba($red, 0.1)
$color-text: $black
$color-text-primary: $red

$color-border: $grey-6
$border-radius: 4px

.#{$prefix}counter
  $counter: &

  &__button
    width: 24px
    height: 24px
    border-radius: 50%
    background-color: $color-bg
    color: $color-text
    font-size: 20px
    line-height: 1
    outline: none
    cursor: pointer
    &:disabled
      opacity: 0.2
      pointer-events: none
    &:hover,
    &:focus
      background-color: $color-bg-active
    &_primary
      background-color: $color-bg-primary
      color: $color-text-primary
      &:hover,
      &:focus
        background-color: $color-bg-primary-active

  &__input
    display: inline-flex
    justify-content: center
    align-items: center
    border: 1px solid $color-border
    border-radius: $border-radius
    padding: 4px
    min-width: 32px
    min-height: 24px
    outline: none
    text-align: center
    transition: $transition

input.#{$prefix}counter__input
  &:hover,
  &:focus
    border-color: $color-text-primary
