
$border-radius: 12px

.#{$prefix}slider
  position: relative
  border-radius: $border-radius

  &__nav
    position: absolute
    top: 50%
    z-index: 1
    &_next
      right: 0
      transform: translate(50%, -50%)
    &_prev
      left: 0
      transform: translate(-50%, -50%)


