extends ../../layouts/main-dir

block variables
  - var title = "Каталог"
  - var pageClass = ''
  - var activePage = 'catalog'

block content
  a.tmp__title(href="/") Вернутся на главную
  section.section
    .container
      .content

        .title-block
          span Каталог товаров

        .catalog
          .tabs(data-tabs='1')
            header.tabs__header
              .tabs__nav(role="tablist")
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="0") Мебель для интерьера
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="1") Аксессуары
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="2") Растения
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="3") Инструменты
            main.tabs__content
              section.tabs__pane(data-tabs-pane="0")
                .row
                  .col-8
                    .card.card_direction_vertical
                      .card__image
                        img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
                      .card__content
                        span.card__sup Альбом
                        h4.card__title American Football
                        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                        span.card__profit
                          span Выгода 967 руб
                          i.icon.icon_size_small.card__profit-icon
                            svg(viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M12.6703 8.40725L7.8445 14.2137C7.42224 14.6976 6.92961 14.9395 6.3666 14.9395C5.86392 14.9395 5.43161 14.7883 5.06967 14.4859L0.877273 10.9476C0.475124 10.5847 0.243889 10.131 0.183566 9.58669C0.123244 9.08266 0.27405 8.5887 0.635983 8.10483L5.46177 2.29838C5.98456 1.6129 6.66821 1.17943 7.51273 0.997979L11.7051 0.0302369C12.1073 -0.0907309 12.4893 -5.06081e-06 12.8512 0.302414L13.364 0.756043C13.6656 0.977817 13.8164 1.34072 13.8164 1.84475L13.5751 6.16935C13.4746 7.03628 13.173 7.78225 12.6703 8.40725ZM11.9464 1.27016L7.69369 2.29838C7.25133 2.39919 6.80897 2.67137 6.3666 3.11491L1.54082 8.92137C1.37996 9.08266 1.32969 9.26411 1.39001 9.46572C1.39001 9.58669 1.4805 9.75806 1.66146 9.97983L5.85386 13.5181C5.99461 13.6391 6.16553 13.6946 6.3666 13.6845C6.56768 13.6744 6.71848 13.5988 6.81902 13.4577L11.6448 7.6512C12.0268 7.16733 12.2179 6.67338 12.2179 6.16935L12.5195 1.72379L11.9464 1.27016ZM10.2272 3.38709C10.2272 3.56854 10.2876 3.71975 10.4082 3.84072C10.5288 3.96169 10.6796 4.02217 10.8606 4.02217C11.0416 4.02217 11.1924 3.96169 11.313 3.84072C11.4337 3.71975 11.494 3.56854 11.494 3.38709C11.494 3.20564 11.4337 3.05443 11.313 2.93346C11.1924 2.81249 11.0416 2.75201 10.8606 2.75201C10.6796 2.75201 10.5288 2.81249 10.4082 2.93346C10.2876 3.05443 10.2272 3.20564 10.2272 3.38709ZM9.89546 7.89314L3.98387 9.76814H3.77274C3.49124 9.76814 3.28011 9.61693 3.13936 9.31451C3.07904 9.15322 3.08909 8.99193 3.16952 8.83064C3.24995 8.66935 3.37059 8.55846 3.53145 8.49798L9.44304 6.62298C9.6039 6.54233 9.76979 6.54233 9.9407 6.62298C10.1116 6.70362 10.2272 6.82459 10.2876 6.98588C10.4082 7.44959 10.2775 7.75201 9.89546 7.89314ZM5.06967 10.7964C5.06967 11.0585 5.16016 11.2853 5.34112 11.4768C5.52209 11.6683 5.75333 11.7641 6.03483 11.7641C6.31633 11.7641 6.54757 11.6683 6.72854 11.4768C6.9095 11.2853 6.99999 11.0585 6.99999 10.7964C6.99999 10.5343 6.90448 10.3075 6.71346 10.1159C6.52243 9.92439 6.29623 9.82862 6.03483 9.82862C5.77343 9.82862 5.54722 9.92439 5.3562 10.1159C5.16518 10.3075 5.06967 10.5343 5.06967 10.7964ZM6.99999 5.65524C6.99999 5.91733 7.0955 6.14415 7.28652 6.33568C7.47754 6.52721 7.70375 6.62298 7.96514 6.62298C8.22654 6.62298 8.45275 6.52721 8.64377 6.33568C8.83479 6.14415 8.9303 5.91733 8.9303 5.65524C8.9303 5.39314 8.83982 5.16633 8.65885 4.97479C8.47788 4.78326 8.24665 4.68749 7.96514 4.68749C7.68364 4.68749 7.4524 4.78326 7.27144 4.97479C7.09047 5.16633 6.99999 5.39314 6.99999 5.65524Z")
                        .card__price-group
                          span.card__price 451 руб
                          span.card__price_old 1418 руб
                        span
                        .button-group.card__button-group
                          button.button.button_view_outline.button_size_medium
                            i.icon.button__icon
                              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
                            span.button__text Добавить
                          button.button.button_view_secondary.button_size_medium
                            span.button__text Подробнее

                  .col-8
                    .card.card_direction_vertical
                      .card__image
                        img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
                      .card__content
                        span.card__sup Альбом
                        h4.card__title American Football
                        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                        span.card__profit
                          span Выгода 967 руб
                          i.icon.icon_size_small.card__profit-icon
                            svg(viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M12.6703 8.40725L7.8445 14.2137C7.42224 14.6976 6.92961 14.9395 6.3666 14.9395C5.86392 14.9395 5.43161 14.7883 5.06967 14.4859L0.877273 10.9476C0.475124 10.5847 0.243889 10.131 0.183566 9.58669C0.123244 9.08266 0.27405 8.5887 0.635983 8.10483L5.46177 2.29838C5.98456 1.6129 6.66821 1.17943 7.51273 0.997979L11.7051 0.0302369C12.1073 -0.0907309 12.4893 -5.06081e-06 12.8512 0.302414L13.364 0.756043C13.6656 0.977817 13.8164 1.34072 13.8164 1.84475L13.5751 6.16935C13.4746 7.03628 13.173 7.78225 12.6703 8.40725ZM11.9464 1.27016L7.69369 2.29838C7.25133 2.39919 6.80897 2.67137 6.3666 3.11491L1.54082 8.92137C1.37996 9.08266 1.32969 9.26411 1.39001 9.46572C1.39001 9.58669 1.4805 9.75806 1.66146 9.97983L5.85386 13.5181C5.99461 13.6391 6.16553 13.6946 6.3666 13.6845C6.56768 13.6744 6.71848 13.5988 6.81902 13.4577L11.6448 7.6512C12.0268 7.16733 12.2179 6.67338 12.2179 6.16935L12.5195 1.72379L11.9464 1.27016ZM10.2272 3.38709C10.2272 3.56854 10.2876 3.71975 10.4082 3.84072C10.5288 3.96169 10.6796 4.02217 10.8606 4.02217C11.0416 4.02217 11.1924 3.96169 11.313 3.84072C11.4337 3.71975 11.494 3.56854 11.494 3.38709C11.494 3.20564 11.4337 3.05443 11.313 2.93346C11.1924 2.81249 11.0416 2.75201 10.8606 2.75201C10.6796 2.75201 10.5288 2.81249 10.4082 2.93346C10.2876 3.05443 10.2272 3.20564 10.2272 3.38709ZM9.89546 7.89314L3.98387 9.76814H3.77274C3.49124 9.76814 3.28011 9.61693 3.13936 9.31451C3.07904 9.15322 3.08909 8.99193 3.16952 8.83064C3.24995 8.66935 3.37059 8.55846 3.53145 8.49798L9.44304 6.62298C9.6039 6.54233 9.76979 6.54233 9.9407 6.62298C10.1116 6.70362 10.2272 6.82459 10.2876 6.98588C10.4082 7.44959 10.2775 7.75201 9.89546 7.89314ZM5.06967 10.7964C5.06967 11.0585 5.16016 11.2853 5.34112 11.4768C5.52209 11.6683 5.75333 11.7641 6.03483 11.7641C6.31633 11.7641 6.54757 11.6683 6.72854 11.4768C6.9095 11.2853 6.99999 11.0585 6.99999 10.7964C6.99999 10.5343 6.90448 10.3075 6.71346 10.1159C6.52243 9.92439 6.29623 9.82862 6.03483 9.82862C5.77343 9.82862 5.54722 9.92439 5.3562 10.1159C5.16518 10.3075 5.06967 10.5343 5.06967 10.7964ZM6.99999 5.65524C6.99999 5.91733 7.0955 6.14415 7.28652 6.33568C7.47754 6.52721 7.70375 6.62298 7.96514 6.62298C8.22654 6.62298 8.45275 6.52721 8.64377 6.33568C8.83479 6.14415 8.9303 5.91733 8.9303 5.65524C8.9303 5.39314 8.83982 5.16633 8.65885 4.97479C8.47788 4.78326 8.24665 4.68749 7.96514 4.68749C7.68364 4.68749 7.4524 4.78326 7.27144 4.97479C7.09047 5.16633 6.99999 5.39314 6.99999 5.65524Z")
                        .card__price-group
                          span.card__price 451 руб
                          span.card__price_old 1418 руб
                        span
                        .button-group.card__button-group
                          button.button.button_view_outline.button_size_medium
                            i.icon.button__icon
                              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
                            span.button__text Добавить
                          button.button.button_view_secondary.button_size_medium
                            span.button__text Подробнее

                  .col-8
                    .card.card_direction_vertical
                      .card__image
                        img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
                      .card__content
                        span.card__sup Альбом
                        h4.card__title American Football
                        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                        span.card__profit
                          span Выгода 967 руб
                          i.icon.icon_size_small.card__profit-icon
                            svg(viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M12.6703 8.40725L7.8445 14.2137C7.42224 14.6976 6.92961 14.9395 6.3666 14.9395C5.86392 14.9395 5.43161 14.7883 5.06967 14.4859L0.877273 10.9476C0.475124 10.5847 0.243889 10.131 0.183566 9.58669C0.123244 9.08266 0.27405 8.5887 0.635983 8.10483L5.46177 2.29838C5.98456 1.6129 6.66821 1.17943 7.51273 0.997979L11.7051 0.0302369C12.1073 -0.0907309 12.4893 -5.06081e-06 12.8512 0.302414L13.364 0.756043C13.6656 0.977817 13.8164 1.34072 13.8164 1.84475L13.5751 6.16935C13.4746 7.03628 13.173 7.78225 12.6703 8.40725ZM11.9464 1.27016L7.69369 2.29838C7.25133 2.39919 6.80897 2.67137 6.3666 3.11491L1.54082 8.92137C1.37996 9.08266 1.32969 9.26411 1.39001 9.46572C1.39001 9.58669 1.4805 9.75806 1.66146 9.97983L5.85386 13.5181C5.99461 13.6391 6.16553 13.6946 6.3666 13.6845C6.56768 13.6744 6.71848 13.5988 6.81902 13.4577L11.6448 7.6512C12.0268 7.16733 12.2179 6.67338 12.2179 6.16935L12.5195 1.72379L11.9464 1.27016ZM10.2272 3.38709C10.2272 3.56854 10.2876 3.71975 10.4082 3.84072C10.5288 3.96169 10.6796 4.02217 10.8606 4.02217C11.0416 4.02217 11.1924 3.96169 11.313 3.84072C11.4337 3.71975 11.494 3.56854 11.494 3.38709C11.494 3.20564 11.4337 3.05443 11.313 2.93346C11.1924 2.81249 11.0416 2.75201 10.8606 2.75201C10.6796 2.75201 10.5288 2.81249 10.4082 2.93346C10.2876 3.05443 10.2272 3.20564 10.2272 3.38709ZM9.89546 7.89314L3.98387 9.76814H3.77274C3.49124 9.76814 3.28011 9.61693 3.13936 9.31451C3.07904 9.15322 3.08909 8.99193 3.16952 8.83064C3.24995 8.66935 3.37059 8.55846 3.53145 8.49798L9.44304 6.62298C9.6039 6.54233 9.76979 6.54233 9.9407 6.62298C10.1116 6.70362 10.2272 6.82459 10.2876 6.98588C10.4082 7.44959 10.2775 7.75201 9.89546 7.89314ZM5.06967 10.7964C5.06967 11.0585 5.16016 11.2853 5.34112 11.4768C5.52209 11.6683 5.75333 11.7641 6.03483 11.7641C6.31633 11.7641 6.54757 11.6683 6.72854 11.4768C6.9095 11.2853 6.99999 11.0585 6.99999 10.7964C6.99999 10.5343 6.90448 10.3075 6.71346 10.1159C6.52243 9.92439 6.29623 9.82862 6.03483 9.82862C5.77343 9.82862 5.54722 9.92439 5.3562 10.1159C5.16518 10.3075 5.06967 10.5343 5.06967 10.7964ZM6.99999 5.65524C6.99999 5.91733 7.0955 6.14415 7.28652 6.33568C7.47754 6.52721 7.70375 6.62298 7.96514 6.62298C8.22654 6.62298 8.45275 6.52721 8.64377 6.33568C8.83479 6.14415 8.9303 5.91733 8.9303 5.65524C8.9303 5.39314 8.83982 5.16633 8.65885 4.97479C8.47788 4.78326 8.24665 4.68749 7.96514 4.68749C7.68364 4.68749 7.4524 4.78326 7.27144 4.97479C7.09047 5.16633 6.99999 5.39314 6.99999 5.65524Z")
                        .card__price-group
                          span.card__price 451 руб
                          span.card__price_old 1418 руб
                        span
                        .button-group.card__button-group
                          button.button.button_view_outline.button_size_medium
                            i.icon.button__icon
                              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
                            span.button__text Добавить
                          button.button.button_view_secondary.button_size_medium
                            span.button__text Подробнее

                  .col-8
                    .card.card_direction_vertical
                      .card__image
                        img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
                      .card__content
                        span.card__sup Альбом
                        h4.card__title American Football
                        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                        span.card__profit
                          span Выгода 967 руб
                          i.icon.icon_size_small.card__profit-icon
                            svg(viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M12.6703 8.40725L7.8445 14.2137C7.42224 14.6976 6.92961 14.9395 6.3666 14.9395C5.86392 14.9395 5.43161 14.7883 5.06967 14.4859L0.877273 10.9476C0.475124 10.5847 0.243889 10.131 0.183566 9.58669C0.123244 9.08266 0.27405 8.5887 0.635983 8.10483L5.46177 2.29838C5.98456 1.6129 6.66821 1.17943 7.51273 0.997979L11.7051 0.0302369C12.1073 -0.0907309 12.4893 -5.06081e-06 12.8512 0.302414L13.364 0.756043C13.6656 0.977817 13.8164 1.34072 13.8164 1.84475L13.5751 6.16935C13.4746 7.03628 13.173 7.78225 12.6703 8.40725ZM11.9464 1.27016L7.69369 2.29838C7.25133 2.39919 6.80897 2.67137 6.3666 3.11491L1.54082 8.92137C1.37996 9.08266 1.32969 9.26411 1.39001 9.46572C1.39001 9.58669 1.4805 9.75806 1.66146 9.97983L5.85386 13.5181C5.99461 13.6391 6.16553 13.6946 6.3666 13.6845C6.56768 13.6744 6.71848 13.5988 6.81902 13.4577L11.6448 7.6512C12.0268 7.16733 12.2179 6.67338 12.2179 6.16935L12.5195 1.72379L11.9464 1.27016ZM10.2272 3.38709C10.2272 3.56854 10.2876 3.71975 10.4082 3.84072C10.5288 3.96169 10.6796 4.02217 10.8606 4.02217C11.0416 4.02217 11.1924 3.96169 11.313 3.84072C11.4337 3.71975 11.494 3.56854 11.494 3.38709C11.494 3.20564 11.4337 3.05443 11.313 2.93346C11.1924 2.81249 11.0416 2.75201 10.8606 2.75201C10.6796 2.75201 10.5288 2.81249 10.4082 2.93346C10.2876 3.05443 10.2272 3.20564 10.2272 3.38709ZM9.89546 7.89314L3.98387 9.76814H3.77274C3.49124 9.76814 3.28011 9.61693 3.13936 9.31451C3.07904 9.15322 3.08909 8.99193 3.16952 8.83064C3.24995 8.66935 3.37059 8.55846 3.53145 8.49798L9.44304 6.62298C9.6039 6.54233 9.76979 6.54233 9.9407 6.62298C10.1116 6.70362 10.2272 6.82459 10.2876 6.98588C10.4082 7.44959 10.2775 7.75201 9.89546 7.89314ZM5.06967 10.7964C5.06967 11.0585 5.16016 11.2853 5.34112 11.4768C5.52209 11.6683 5.75333 11.7641 6.03483 11.7641C6.31633 11.7641 6.54757 11.6683 6.72854 11.4768C6.9095 11.2853 6.99999 11.0585 6.99999 10.7964C6.99999 10.5343 6.90448 10.3075 6.71346 10.1159C6.52243 9.92439 6.29623 9.82862 6.03483 9.82862C5.77343 9.82862 5.54722 9.92439 5.3562 10.1159C5.16518 10.3075 5.06967 10.5343 5.06967 10.7964ZM6.99999 5.65524C6.99999 5.91733 7.0955 6.14415 7.28652 6.33568C7.47754 6.52721 7.70375 6.62298 7.96514 6.62298C8.22654 6.62298 8.45275 6.52721 8.64377 6.33568C8.83479 6.14415 8.9303 5.91733 8.9303 5.65524C8.9303 5.39314 8.83982 5.16633 8.65885 4.97479C8.47788 4.78326 8.24665 4.68749 7.96514 4.68749C7.68364 4.68749 7.4524 4.78326 7.27144 4.97479C7.09047 5.16633 6.99999 5.39314 6.99999 5.65524Z")
                        .card__price-group
                          span.card__price 451 руб
                          span.card__price_old 1418 руб
                        span
                        .button-group.card__button-group
                          button.button.button_view_outline.button_size_medium
                            i.icon.button__icon
                              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
                            span.button__text Добавить
                          button.button.button_view_secondary.button_size_medium
                            span.button__text Подробнее

              section.tabs__pane(data-tabs-pane="1")
                .row
                  .col-8
                    .card.card_direction_vertical
                      .card__image
                        img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
                      .card__content
                        span.card__sup Альбом
                        h4.card__title American Football
                        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                        span.card__profit
                          span Выгода 967 руб
                          i.icon.icon_size_small.card__profit-icon
                            svg(viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M12.6703 8.40725L7.8445 14.2137C7.42224 14.6976 6.92961 14.9395 6.3666 14.9395C5.86392 14.9395 5.43161 14.7883 5.06967 14.4859L0.877273 10.9476C0.475124 10.5847 0.243889 10.131 0.183566 9.58669C0.123244 9.08266 0.27405 8.5887 0.635983 8.10483L5.46177 2.29838C5.98456 1.6129 6.66821 1.17943 7.51273 0.997979L11.7051 0.0302369C12.1073 -0.0907309 12.4893 -5.06081e-06 12.8512 0.302414L13.364 0.756043C13.6656 0.977817 13.8164 1.34072 13.8164 1.84475L13.5751 6.16935C13.4746 7.03628 13.173 7.78225 12.6703 8.40725ZM11.9464 1.27016L7.69369 2.29838C7.25133 2.39919 6.80897 2.67137 6.3666 3.11491L1.54082 8.92137C1.37996 9.08266 1.32969 9.26411 1.39001 9.46572C1.39001 9.58669 1.4805 9.75806 1.66146 9.97983L5.85386 13.5181C5.99461 13.6391 6.16553 13.6946 6.3666 13.6845C6.56768 13.6744 6.71848 13.5988 6.81902 13.4577L11.6448 7.6512C12.0268 7.16733 12.2179 6.67338 12.2179 6.16935L12.5195 1.72379L11.9464 1.27016ZM10.2272 3.38709C10.2272 3.56854 10.2876 3.71975 10.4082 3.84072C10.5288 3.96169 10.6796 4.02217 10.8606 4.02217C11.0416 4.02217 11.1924 3.96169 11.313 3.84072C11.4337 3.71975 11.494 3.56854 11.494 3.38709C11.494 3.20564 11.4337 3.05443 11.313 2.93346C11.1924 2.81249 11.0416 2.75201 10.8606 2.75201C10.6796 2.75201 10.5288 2.81249 10.4082 2.93346C10.2876 3.05443 10.2272 3.20564 10.2272 3.38709ZM9.89546 7.89314L3.98387 9.76814H3.77274C3.49124 9.76814 3.28011 9.61693 3.13936 9.31451C3.07904 9.15322 3.08909 8.99193 3.16952 8.83064C3.24995 8.66935 3.37059 8.55846 3.53145 8.49798L9.44304 6.62298C9.6039 6.54233 9.76979 6.54233 9.9407 6.62298C10.1116 6.70362 10.2272 6.82459 10.2876 6.98588C10.4082 7.44959 10.2775 7.75201 9.89546 7.89314ZM5.06967 10.7964C5.06967 11.0585 5.16016 11.2853 5.34112 11.4768C5.52209 11.6683 5.75333 11.7641 6.03483 11.7641C6.31633 11.7641 6.54757 11.6683 6.72854 11.4768C6.9095 11.2853 6.99999 11.0585 6.99999 10.7964C6.99999 10.5343 6.90448 10.3075 6.71346 10.1159C6.52243 9.92439 6.29623 9.82862 6.03483 9.82862C5.77343 9.82862 5.54722 9.92439 5.3562 10.1159C5.16518 10.3075 5.06967 10.5343 5.06967 10.7964ZM6.99999 5.65524C6.99999 5.91733 7.0955 6.14415 7.28652 6.33568C7.47754 6.52721 7.70375 6.62298 7.96514 6.62298C8.22654 6.62298 8.45275 6.52721 8.64377 6.33568C8.83479 6.14415 8.9303 5.91733 8.9303 5.65524C8.9303 5.39314 8.83982 5.16633 8.65885 4.97479C8.47788 4.78326 8.24665 4.68749 7.96514 4.68749C7.68364 4.68749 7.4524 4.78326 7.27144 4.97479C7.09047 5.16633 6.99999 5.39314 6.99999 5.65524Z")
                        .card__price-group
                          span.card__price 451 руб
                          span.card__price_old 1418 руб
                        span
                        .button-group.card__button-group
                          button.button.button_view_outline.button_size_medium
                            i.icon.button__icon
                              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
                            span.button__text Добавить
                          button.button.button_view_secondary.button_size_medium
                            span.button__text Подробнее
