extends ../../layouts/main-dir

block variables
  - var title = "FAQ"
  - var pageClass = ''
  - var activePage = 'faq'

block content
  a.tmp__title(href="/") Вернутся на главную
  section.section
    .container
      .content

        .title-block
          span FAQ

        .faqs.row
          .col-12
            .faq(data-faq)
              header.faq__head(data-faq-head)
                span Which of the Seven Wonders of the world do you want to visit the most?
                i.icon.icon_size_small
                  <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.185737 0.19598C0.433387 -0.0653267 0.834906 -0.0653267 1.08256 0.19598L6 5.38461L10.9174 0.19598C11.1651 -0.0653267 11.5666 -0.0653267 11.8143 0.19598C12.0619 0.457287 12.0619 0.880949 11.8143 1.14226L6.44841 6.80402C6.20076 7.06533 5.79924 7.06533 5.55159 6.80402L0.185737 1.14226C-0.0619124 0.880949 -0.0619124 0.457287 0.185737 0.19598Z" fill="#A5A5A5"/>
                  </svg>
              main.faq__main(data-faq-body)
                p Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса будут преданы социально-демократической анафеме. Кстати,  акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть функционально разнесены на.
            .faq(data-faq)
              header.faq__head(data-faq-head)
                span Which of the Seven Wonders of the world do you want to visit the most?
                i.icon.icon_size_small
                  <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.185737 0.19598C0.433387 -0.0653267 0.834906 -0.0653267 1.08256 0.19598L6 5.38461L10.9174 0.19598C11.1651 -0.0653267 11.5666 -0.0653267 11.8143 0.19598C12.0619 0.457287 12.0619 0.880949 11.8143 1.14226L6.44841 6.80402C6.20076 7.06533 5.79924 7.06533 5.55159 6.80402L0.185737 1.14226C-0.0619124 0.880949 -0.0619124 0.457287 0.185737 0.19598Z" fill="#A5A5A5"/>
                  </svg>
              main.faq__main(data-faq-body)
                p Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса будут преданы социально-демократической анафеме. Кстати,  акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть функционально разнесены на.

          .col-12
            .faq(data-faq)
              header.faq__head(data-faq-head)
                span Which of the Seven Wonders of the world do you want to visit the most?
                i.icon.icon_size_small
                  <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.185737 0.19598C0.433387 -0.0653267 0.834906 -0.0653267 1.08256 0.19598L6 5.38461L10.9174 0.19598C11.1651 -0.0653267 11.5666 -0.0653267 11.8143 0.19598C12.0619 0.457287 12.0619 0.880949 11.8143 1.14226L6.44841 6.80402C6.20076 7.06533 5.79924 7.06533 5.55159 6.80402L0.185737 1.14226C-0.0619124 0.880949 -0.0619124 0.457287 0.185737 0.19598Z" fill="#A5A5A5"/>
                  </svg>
              main.faq__main(data-faq-body)
                p Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса будут преданы социально-демократической анафеме. Кстати,  акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть функционально разнесены на.
            .faq(data-faq)
              header.faq__head(data-faq-head)
                span Which of the Seven Wonders of the world do you want to visit the most?
                i.icon.icon_size_small
                  <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.185737 0.19598C0.433387 -0.0653267 0.834906 -0.0653267 1.08256 0.19598L6 5.38461L10.9174 0.19598C11.1651 -0.0653267 11.5666 -0.0653267 11.8143 0.19598C12.0619 0.457287 12.0619 0.880949 11.8143 1.14226L6.44841 6.80402C6.20076 7.06533 5.79924 7.06533 5.55159 6.80402L0.185737 1.14226C-0.0619124 0.880949 -0.0619124 0.457287 0.185737 0.19598Z" fill="#A5A5A5"/>
                  </svg>
              main.faq__main(data-faq-body)
                p Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса будут преданы социально-демократической анафеме. Кстати,  акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть функционально разнесены на.
