extends ../../layouts/main-dir

block variables
  - var title = "FAQ"
  - var pageClass = ''
  - var activePage = 'faq'

block content
  a.tmp__title(href="/") Вернутся на главную
  section.section
    .container
      .content

        .title-block
          span Последние новости

        .news.row
          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

  section.section
    .container
      .content

        .title-block
          span Последние новости

        .news.row
          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее
