
$color-primary: $red

ul.#{$prefix}list,
ol.#{$prefix}list
  list-style: none
  counter-reset: list
  li
    position: relative
    margin-bottom: 24px
    padding-left: 26px
    &:last-child
      margin-bottom: 0
    &::before
      position: absolute
      top: 0
      left: 0
      width: 20px
      height: 20px


ul.#{$prefix}list
  li
    &::before
      content: ''
      display: inline-block
      top: 5px
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: $color-primary

ol.#{$prefix}list
  li
    &::before
      counter-increment: list
      content: counter(list)
      color: $color-primary
