
$color-overlay: rgba(0, 0, 0, 0.1)
$color-text: $white
$gradient: linear-gradient(90deg, #FFFFFF 0%, rgba(0, 0, 0, 0.65) 0.01%, rgba(0, 0, 0, 0) 65.1%)
$border-radius: 12px

.#{$prefix}board
  position: relative
  border-radius: $border-radius
  height: 100%
  overflow: hidden

  &__overlay
    display: inline-flex
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $color-overlay
    &_gradient
      background: $gradient

  &__image
    display: inline-flex
    min-height: 200px
    img
      width: 100%
    &_cover
      width: 100%
      height: 100%
      img
        height: 100%
        object-fit: cover
        object-position: center

  &__content
    position: absolute
    top: 0
    left: 0
    width: 420px
    color: $color-text
    &_board
      top: auto
      bottom: 0
      margin: 32px 48px
    &_slider
      top: 0
      margin: 48px 0 48px 144px

  &__title
    +font-board-title
    margin-bottom: 8px

  &__text
    margin-bottom: 24px

