// view - тип кнопки по стилю --- primary | secondary | tertiary | outline
// size - размер кнопки --- small | medium | large
// различные состояния --- rounded | disabled | loading | circle

$radius: $radius

$primary: $red
$primary-text: $white

$secondary: $grey
$secondary-text: $red

$slider-path: $grey-2

.#{$prefix}button
  $button: &
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  flex-wrap: nowrap
  white-space: nowrap
  border: 1px solid transparent
  border-radius: $radius
  +font-button
  text-align: center
  cursor: pointer
  transition: $transition
  &:focus
    outline: none

  &__icon
    width: 14px
    height: 14px
    margin: 0
    & + #{$button}__text
      margin-left: 10px

  &__text
    display: inline-flex
    flex: 0 0 auto
    & + #{$button}__icon,
    & + #{$button}__loader
      margin-left: 10px

  &__loader
    width: 14px
    height: 14px
    position: absolute
    visibility: hidden
    opacity: 0


  &_view
    &_primary
      background-color: $primary
      border-color: $primary
      color: $primary-text
      &:hover,
      &:focus
        background-color: darken($primary, 15%)
        border-color: darken($primary, 15%)
      path
        fill: $primary-text
    &_secondary
      background-color: $secondary
      border-color: $secondary
      color: $secondary-text
      &:hover,
      &:focus
        background-color: darken($secondary, 15%)
        border-color: darken($secondary, 15%)
      path
        fill: $secondary-text
    &_tertiary
      border-color: transparent
      background-color: transparent
      color: $primary
      &:hover,
      &:focus
        color: darken($primary, 10%)
      path
        fill: $primary
    &_outline
      background-color: transparent
      border-color: $primary
      color: $primary
      path
        fill: $primary
      &:hover,
      &:focus
        background-color: darken($primary, 15%)
        border-color: darken($primary, 15%)
        color: $primary-text
        path
          fill: $primary-text
    &_slider
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04)
      background-color: $white
      path
        stroke: $slider-path
        stroke-width: 2.4
        stroke-linecap: round
      &:hover,
      &:focus
        background-color: darken($primary, 15%)
        border-color: darken($primary, 15%)
        path
          stroke: $primary-text

  &_size
    &_small
      +font-button-small
      padding: 6px 16px
      #{$button}__icon
        width: 12px
        height: 12px
        & + #{$button}__text
          margin-left: 6px
      &#{$button}_circle
        padding: 6px
      &#{$button}_view_slider
        padding: 12px
    &_medium
      +font-button-medium
      padding: 6px 16px
      &#{$button}_circle
        padding: 6px
      &#{$button}_view_slider
        padding: 12px
    &_large
      +font-button-large
      padding: 8px 20px
      &#{$button}_circle
        padding: 8px
      &#{$button}_view_slider
        padding: 16px
  &_width
    &_avalibale
      width: 100%
  &_disabled
    opacity: 0.5
    pointer-events: none
  &_rounded
    border-radius: 100px
  &_circle
    border-radius: 50%
  &_loading
    opacity: 0.8
    pointer-events: none
    #{$button}__icon
      position: absolute
      visibility: hidden
      opacity: 0
    #{$button}__loader
      position: relative
      visibility: visible
      opacity: 1
