$primary: $red

.#{$prefix}spinner
  animation: spinner-rotate 2s linear infinite
  z-index: 2
  .path
    stroke: $white
    stroke-linecap: round
    animation: spinner-dash 1.5s ease-in-out infinite
  &_primary
    .path
      stroke: $primary


@keyframes spinner-rotate
  100%
    transform: rotate(360deg)

@keyframes spinner-dash
  0%
    stroke-dasharray: 1, 150
    stroke-dashoffset: 0
  50%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -35
  100%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -124
