// size - размер --- small | medium | large
// rotate - поворот --- 0deg | 90deg | 180deg | 270deg

$default-color: $black

i.#{$prefix}icon
  font-style: normal
.#{$prefix}icon
  flex: 0 0 auto
  display: inline-flex
  align-items: center
  justify-content: center
  transition: $transition
  margin: 6px
  & > *
    width: 100%
    height: 100%
  *
    transition: $transition
  &_size
    &_small
      width: 16px
      height: 16px
    &_medium
      width: 20px
      height: 20px
    &_large
      width: 24px
      height: 24px

  &_rotate
    &_0deg
      transform: rotate(0)
    &_90deg
      transform: rotate(90deg)
    &_180deg
      transform: rotate(180deg)
    &_270deg
      transform: rotate(270deg)
