

$color-error: $red
$color-label: #898989

.#{$prefix}form-field
  display: inline-flex
  flex-direction: column

  &__label
    color: $color-label
    +font-form-field-label
  &__control
    margin: 8px 0
  &__error
    color: $color-error
    +font-form-field-error

