extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .tmp
    .tmp__container
      .tmp__row.row
        .col-12.tmp__links
          h1.tmp__title UI
          a.tmp__link(href="ui/buttons.html") Кнопки
          a.tmp__link(href="ui/icons.html") Иконки
          a.tmp__link(href="ui/breadcrumbs.html") Хлебные крошки
          a.tmp__link(href="ui/tabs.html") Табы
          a.tmp__link(href="ui/checkbox.html") Чекбоксы
          a.tmp__link(href="ui/radio.html") Радио кнопки
          a.tmp__link(href="ui/switch.html") Свитчер
          a.tmp__link(href="ui/counter.html") Счетчик
          a.tmp__link(href="ui/list.html") Список
          a.tmp__link(href="ui/input.html") Инпуты
          a.tmp__link(href="ui/select.html") Селект
          a.tmp__link(href="ui/form.html") Форма
          a.tmp__link(href="ui/card.html") Карточка
          a.tmp__link(href="ui/board.html") Баннеры
          a.tmp__link(href="ui/slider.html") Слайдеры
          a.tmp__link(href="ui/faq.html") faq
        .col-12.tmp__links
          h1.tmp__title TEMPLATE
          a.tmp__link(href="templates/faqs.html") faqs
          a.tmp__link(href="templates/news.html") news
          a.tmp__link(href="templates/catalog.html") catalog
