
$color-primary: $red
$color-check: $white
$color-border: $grey-5

$box-shadow-switch: 0px 1px 1px rgba(0, 0, 0, 0.237602), 0px 0px 1px rgba(0, 0, 0, 0.12)

.#{$prefix}switch
  $switch: &
  position: relative
  display: inline-flex
  align-items: flex-start
  &__label
    margin-top: -1px
    cursor: pointer
  &__input
    $input: &
    &-original
      position: absolute
      pointer-events: none
      margin: -1px
      width: 0
      height: 0
      opacity: 0
      &:checked + #{$input}-decore
        background-color: rgba($color-primary, 0.4)
        &::before
          left: calc(50% - 20px/2 + 9px)
          background-color: $color-primary
      &:checked ~ #{$switch}__label
        color: $color-primary

      &:disabled + #{$input}-decore,
      &:disabled ~ #{$switch}__label
        opacity: 0.4
        pointer-events: none

    &-decore
      position: relative
      display: inline-flex
      width: 34px
      height: 14px
      border-radius: 14px
      background-color: rgba(0, 28, 61, 0.08)
      cursor: pointer
      transition: $transition
      &::before
        content: ''
        position: absolute
        top: calc(50% - 20px/2)
        left: calc(50% - 20px/2 - 8px)
        width: 20px
        height: 20px
        background-color: $color-check
        border-radius: 50%
        box-shadow: $box-shadow-switch
        transition: $transition

      & ~ #{$switch}__label
        padding-left: 12px

  &_reverse
    flex-direction: row-reverse
    #{$switch}__input
      &-decore
        & ~ #{$switch}__label
          padding-left: 0
          padding-right: 12px
