// VARIABLES
$prefix: ''

$radius: 4px
$transition: all 0.25s

// global
@import "./global/colors"
@import "./global/font"
@import "./global/grid-system"
@import "./global/content"

//TEMP
.tmp
  font-family: "Roboto", sans-serif
  &__container
    max-width: 100%
    width: 1200px
    margin: 0 auto 30px
    border: 1px solid #ccc
  &__row
    width: 100%
    padding: 10px 20px
  &__title
    width: 100%
    text-align: left
    font-size: 30px
    margin-bottom: 20px
  &__links
    display: flex
    flex-direction: column
    align-items: flex-start
  &__link
    display: inline-flex
    font-size: 24px
    margin-bottom: 4px
    text-decoration: none
    transition: $transition
    &:hover
      color: $red
  &__spacer
    &-width
      display: inline-block
      width: 20px
      height: 1px

// ui
@import "./ui/spinner/index"
@import "./ui/icon/index"
@import "./ui/button/index"
@import "./ui/button-group/index"
@import "./ui/breadcrumbs/index"
@import "./ui/tabs/index"
@import "./ui/checkbox/index"
@import "./ui/radio/index"
@import "./ui/switch/index"
@import "./ui/counter/index"
@import "./ui/list/index"
@import "./ui/input/index"
@import "./ui/select/index"
@import "./ui/form-field/index"
@import "./ui/card/index"
@import "./ui/board/index"
@import "./ui/slider/index"
@import "./ui/faq/index"
@import "./ui/title-block/index"

//templates
@import "./templates/faqs/index"
@import "./templates/news/index"
@import "./templates/catalog/index"
