
$color-bg: rgba(0, 45, 55, 0.05)
$color-primary: $red
$color-placeholder: $grey-2
$border-radius: 4px
$font-size-fix: 32px

.#{$prefix}input
  $input: &
  position: relative
  display: inline-flex

  &_disabled
    opacity: 0.4
    pointer-events: none
  &_error
    #{$input}__input
      background-color: rgba($color-primary, 0.1)
      border-color: $color-primary
  &_icon
    &-left
      #{$input}__input
        padding-left: 44px
    &-right
      #{$input}__input
        padding-right: 44px
  &_group
    &-prepend
      #{$input}__input
        border-radius: 0 $border-radius $border-radius 0
    &-append
      #{$input}__input
        border-radius: $border-radius 0 0 $border-radius
    &-both
      #{$input}__input
        border-radius: 0


  &__inner
    position: relative
    display: inline-flex
    align-items: center

  &__input
    display: inline-flex
    width: 100%
    padding: 12px 16px
    background-color: $color-bg
    border: 1px solid transparent
    border-radius: $border-radius
    outline: none
    caret-color: $color-primary
    z-index: 1
    &::placeholder
      color: $color-placeholder
    &:focus:placeholder-shown
      border-color: $color-primary

  &__suffix,
  &__prefix
    position: absolute
    top: 0
    height: 100%
    display: inline-flex
    align-items: center
    justify-content: center
    width: 44px
    outline: none
    z-index: 2

  &__suffix
    right: 0
  &__prefix
    left: 0

  &__icon
    width: 12px
    height: 12px
    &[tabindex]
      outline: none
      cursor: pointer
      opacity: 0.6
      &:hover,
      &:focus
        opacity: 1

  &__prepend,
  &__append
    display: inline-flex
    align-items: center
    padding: 12px 16px
    border: 1px solid $color-bg

  &__prepend
    border-radius: $border-radius 0 0 $border-radius
  &__append
    border-radius: 0 $border-radius $border-radius 0



