$item-color: $grey-3
$item-color-hover: $red
$item-color-active: $black

.#{$prefix}breadcrumbs
  $breadcrumbs: &
  display: flex
  align-items: center
  &__item
    position: relative
    flex: 0 0 auto
    +font-breadcrumbs
    color: $item-color
    white-space: nowrap
    text-decoration: none
    &:last-child
      pointer-events: none
      color: $item-color-active
      #{$breadcrumbs}__separator
        display: none

  &__separator
    margin: 0 8px

  &__link
    transition: $transition
    text-decoration: none
    &:hover,
    &:focus
      color: $item-color-hover


