
$color-primary: $red
$color-check: $white
$color-border: $grey-5

.#{$prefix}radio
  $radio: &
  position: relative
  display: inline-flex
  align-items: flex-start
  &__label
    padding-top: 2px
    cursor: pointer
  &__input
    $input: &
    &-original
      position: absolute
      pointer-events: none
      margin: -1px
      width: 0
      height: 0
      opacity: 0
      &:checked + #{$input}-decore
        border-color: $color-primary
        &::before
          opacity: 1
          transform: translate(-50%, -50%) scale(1)
      &:checked ~ #{$radio}__label
        color: $color-primary

      &:disabled + #{$input}-decore,
      &:disabled ~ #{$radio}__label
        opacity: 0.4
        pointer-events: none

    &-decore
      position: relative
      display: inline-flex
      width: 20px
      height: 20px
      border: 2px solid $color-border
      border-radius: 50%
      transition: $transition
      cursor: pointer
      &::before
        content: ''
        display: inline-block
        position: absolute
        top: 50%
        left: 50%
        width: 70%
        height: 70%
        background-color: $color-primary
        border-radius: 50%
        opacity: 0
        transform: translate(-50%, -50%) scale(0)
        transition: $transition

      & ~ #{$radio}__label
        padding-left: 12px

  &_reverse
    flex-direction: row-reverse
    #{$radio}__input
      &-decore
        & ~ #{$radio}__label
          padding-left: 0
          padding-right: 12px
