// direction --- horizontal | vertical


$border-radius: 8px
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)

$color-image-bg: #fafafa
$color-sup: #828282
$color-primary: $red
$color-price-old: #BDBDBD

.#{$prefix}card
  $card: &
  display: flex
  height: 100%
  border-radius: $border-radius
  box-shadow: $box-shadow
  +font-card

  &_heigth
    &_auto
      height: auto

  &_direction
    &_vertical
      flex-direction: column
      #{$card}__image
        padding-top: 80%
        border-radius: $border-radius $border-radius 0 0
        &_advanced
          display: flex
          justify-content: center
          padding: 16px
          background-color: transparent
          img
            position: static
            width: auto
    &_horizontal
      &-left
        flex-direction: row
        #{$card}__image
          padding-left: 20%
          border-radius: $border-radius 0 0 $border-radius
      &-right
        flex-direction: row-reverse
        #{$card}__image
          padding-left: 20%
          border-radius: 0 $border-radius $border-radius 0

  &__image
    position: relative
    overflow: hidden
    min-width: 200px
    max-height: 400px
    background-color: $color-image-bg
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: auto
      object-fit: cover
      object-position: center
    &_cover
      img
        height: 100%
        object-fit: cover
        object-position: center
    &_contain
      img
        height: 100%
        object-fit: contain
        object-position: center


  &__content
    flex-grow: 1
    display: flex
    flex-direction: column
    padding: 16px
    &_text
      &_center
        text-align: center

  &__title
    font-weight: 500
    & + *
      margin-top: 6px

  &__text
    font-size: 0.938em
    line-height: 1.25em
    & + *
      margin-top: 6px

  &__sup,
  &__sub
    font-size: 0.75em
    color: $color-sup
    & + *
      margin-top: 6px

  &__sup
    font-weight: 500

  &__profit
    display: flex
    align-items: center
    margin-top: 18px
    font-size: 0.75em
    line-height: 0.875em
    color: $color-primary
    & + *
      margin-top: 10px
    &-icon
      width: 12px
      height: 12px
      margin-top: 0
      margin-bottom: 0
      path
        fill: $color-primary

  &__price
    $price: &
    font-size: 1.5em
    line-height: 1.5em
    font-weight: 500
    &_old
      font-size: 1.25em
      color: $color-price-old
      text-decoration: line-through
    & + #{$price}_old
      margin-left: 16px
    &-group + *
      margin-top: 16px

  &__space-button
    display: inline-block
    margin-top: 16px

  &__button-group
    margin-top: auto
