
$bg-active: linear-gradient(0deg, rgba(43, 68, 255, 0.05), rgba(43, 68, 255, 0.05))

.faq
  $faq: &
  &__head
    display: flex
    align-items: flex-start
    justify-content: space-between
    background-color: $grey-7
    padding: 16px
    font-weight: 500
    outline: none
    cursor: pointer
    .icon
      margin-top: 0
  &.is-active
    #{$faq}
      &__head
        background: $bg-active
        .icon
          transform: rotate(-180deg)
        path
          fill: #2B44FF
      &__main
        padding: 12px 16px
        visibility: visible
        opacity: 1
        max-height: 100%

  &__main
    padding: 0 16px
    visibility: hidden
    opacity: 0
    max-height: 0
    background: rgba(43, 68, 255, 0.02)
