$font: "Roboto", 'Arial', sans-serif



@mixin font-button
  font-family: $font
  font-style: normal
  letter-spacing: 0.0125em

@mixin font-button-small
  font-weight: 500
  font-size: 14px
  line-height: 18px

@mixin font-button-medium
  font-weight: 500
  font-size: 16px
  line-height: 24px

@mixin font-button-large
  font-weight: 500
  font-size: 18px
  line-height: 24px


@mixin font-body
  font-family: $font
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: 0.0125em

@mixin font-breadcrumbs
  font-family: $font
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.0125em

@mixin font-form-field-label
  font-family: $font
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.0125em

@mixin font-form-field-error
  font-family: $font
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 14px
  letter-spacing: 0.0125em

@mixin font-card
  font-family: $font
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.0125em

@mixin font-board-title
  font-family: $font
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 56px
  letter-spacing: 0.0125em

@mixin font-title-block
  font-family: $font
  font-weight: 500
  font-size: 32px
  line-height: 40px
  letter-spacing: 0.0125em
