$fg-grid-columns: 24 !default
$fg-gutter: 16

$fg-sm: 576
$fg-gutter-sm: 16

$fg-md: 768
$fg-gutter-md: 16

$fg-lg: 992
$fg-gutter-lg: 20

$fg-xl: 1200
$fg-gutter-xl: 24

$fg-breakpoints: '' 0 $fg-gutter, '-sm' $fg-sm $fg-gutter-sm, '-md' $fg-md $fg-gutter-md, '-lg' $fg-lg $fg-gutter-lg, '-xl' $fg-xl $fg-gutter-xl

.#{$prefix}container
  max-width: 100%
  width: $fg-xl * 1px
  margin: 0 auto
  padding: 0 $fg-gutter * 1px


.#{$prefix}container-fluid
  width: 100% !important
  padding: 0

@mixin create-mq($breakpoint, $gut)

  @if($breakpoint == 0)

    .#{$prefix}row
      //@include flexbox()
      //@include flex(0, 1, auto)
      //@include flex-direction(row)
      //@include flex-wrap(wrap)
      display: flex
      flex: 0 1 auto
      flex-direction: row
      flex-wrap: wrap
      margin-right: #{-$gut}
      margin-left: #{-$gut}

    .#{$prefix}row.reverse
      //@include flex-direction(row-reverse)
      flex-direction: row-reverse

    .#{$prefix}col.reverse
      //@include flex-direction(column-reverse)
      flex-direction: column-reverse

    @content
  @else
    @media screen and (min-width: $breakpoint)
      .#{$prefix}container
        padding: 0 $gut
    @media screen and (max-width: $breakpoint)
      @content

@mixin fg-sass-col-common($gut)
  //@include flex-grow(0)
  //@include flex-shrink(0)
  flex-grow: 0
  flex-shrink: 0

  padding-right: $gut
  padding-left: $gut

@each $suffix, $point, $gutter in $fg-breakpoints
  $point: $point * 1px
  $gutter: $gutter * 1px

  @include create-mq($point, $gutter)

    @for $i from 0 through $fg-grid-columns
      @if $i == 0
        .#{$prefix}col#{$suffix}
          @include fg-sass-col-common($gutter)
          //@include flex-basis(auto)
          flex-basis: auto
      @else
        .#{$prefix}col#{$suffix}-#{$i}
          @include fg-sass-col-common($gutter)
          //@include flex-basis(100% / $fg-grid-columns * $i)
          flex-basis: calc(100% / #{$fg-grid-columns} * #{$i})
          max-width: 100% / $fg-grid-columns * $i

      .#{$prefix}col#{$suffix}-offset-#{$i}
        @include fg-sass-col-common($gutter)
        @if $i == 0
          margin-left: 0
        @else
          margin-left: 100% / $fg-grid-columns * $i

    .#{$prefix}col#{$suffix}
      //@include flex-grow(1)
      //@include flex-basis(0)
      flex-grow: 1
      flex-basis: 0
      max-width: 100%

    .#{$prefix}start#{$suffix}
      //@include justify-content(flex-start)
      justify-content: flex-start
      text-align: left

    .#{$prefix}center#{$suffix}
      //@include justify-content(center)
      justify-content: center
      text-align: center

    .#{$prefix}end#{$suffix}
      //@include justify-content(flex-end)
      justify-content: flex-end
      text-align: right

    .#{$prefix}top#{$suffix}
      //@include align-items(flex-start)
      align-items: flex-start

    .#{$prefix}middle#{$suffix}
      //@include align-items(center)
      align-items: center

    .#{$prefix}bottom#{$suffix}
      //@include align-items(flex-end)
      align-items: flex-end

    .#{$prefix}around#{$suffix}
      //@include justify-content(space-around)
      justify-content: space-around

    .#{$prefix}between#{$suffix}
      //@include justify-content(space-between)
      justify-content: space-between

    .#{$prefix}first#{$suffix}
      order: -1

    .last#{$suffix}
      order: 1
