
$tab-color: $grey-3
$tab-color-active: $black
$tab-color-border: $red
$tab-bg: $grey-4
$border-radius-button: 8px

.#{$prefix}tabs
  $tabs: &
  +font-body

  &__header
    margin-bottom: 16px

  &__nav
    display: flex
    align-items: flex-end
    overflow-x: scroll
    -webkit-overflow-scrolling: touch
  &__tab
    $tab: &
    transition: $transition
    cursor: pointer
    outline: none
    &_swipe
      color: $tab-color
      margin-right: 32px
      padding-bottom: 6px
      border-bottom: 2px solid transparent
      &:hover,
      &:focus
        border-bottom-color: $tab-color-border
        color: $tab-color-active
      &#{$tab}_active
        border-bottom-color: $tab-color-border
        color: $tab-color-active
        pointer-events: none
    &_button
      color: $tab-color-active
      border-radius: $border-radius-button
      padding: 8px 12px
      margin-right: 24px
      background-color: transparent
      &:hover,
      &:focus
        background-color: $tab-bg
      &#{$tab}_active
        background-color: $tab-bg
        pointer-events: none

  &__content
    position: relative
  &__pane
    position: absolute
    visibility: hidden
    opacity: 0
    pointer-events: none
    &_active
      position: relative
      visibility: visible
      opacity: 1
      pointer-events: all
